body{
  color: rgb(204, 223, 237);
  font-family: 'Josefin Sans', sans-serif;
  background-color: rgb(20, 24, 46);
}

h3{
  color: white;
  margin-bottom: 0px;
}

p {
  margin: 10px 0px;
  font-size: 15px;
  line-height: 1.4;
}

ul{
  padding: 0px;
  margin: 0px;
  list-style-position: inside;
}

li{
  font-size: 14px;
  list-style: none;
}

li::before{
  content: '';
  display: inline-block;
  height: 1em;
  width: 1em;
  background-repeat: no-repeat;
  background-size: contain;
}

.currency{
  float: left;
}

.currency::before{
  background-image: url(../img/icon-ethereum.svg);
  font-weight: bold;
}

.timer{
  float: right;
}

.timer::before{
    background-image: url(../img/icon-clock.svg);
    padding-left: 3px;
}

.container{
  width: 240px;
  height: 430px;
  background-color: rgb(38, 44, 74);
  border-radius: 10px;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.picture{
 height: 56%;
 position: relative;
 border-radius: 5%;
}

.picture .coin{
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  display: block;
  border-radius: 5%;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(104, 231, 247);
  border-radius: 5%;
}

.picture:hover .overlay{
  opacity: .5;
}

.view{
  width: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.content{
  height: 28%;
  border-bottom: 1px rgb(59, 71, 102) solid;
  padding-bottom: 0px;
}

.pp{
  height: 25px;
  width: 25px;
  float: left;
  border-radius: 50px;
  border: 1px solid white;
}

.creator-name{
  float: left;
  padding-left: 10px;
  font-size: 13px;
  margin-top: 5px;
}

.hover:hover{
  color: rgb(104, 231, 247);
}

.card-footer{
  margin-top: 10px;
}
